<p>hello</p>
<form [formGroup]="form" (submit)="onSaveTask()">

    <mat-form-field >
      <mat-label>Task Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Task Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field >
      <mat-label>Task Tags</mat-label>
      <input matInput formControlName="tags">
    </mat-form-field>


    <!-- categories -->
    <mat-form-field >
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                  [removable]="removable" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="add a tag..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit">Get Help!</button>
</form>
