<form [formGroup]="form" (submit)="onSaveTask()">

    <label>Task Title</label>
    <input formControlName="title">

    <label>Task Description</label>
    <input formControlName="description">

    <label>Task Tags</label>
    <input formControlName="tags">

    <button mat-raised-button color="accent" type="submit">Get Help!</button>
</form>

<!-- <mat-card> -->
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <!-- <form [formGroup]="form" (submit)="onSaveTask()">
  
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Task Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter a task title.</mat-error>
      </mat-form-field>  
  
      <mat-form-field>
        <textarea matInput rows="4" formControlName="content" placeholder="Task Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter something</mat-error>
      </mat-form-field> -->
  
      <!-- <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                   [removable]="removable" (removed)="removeTag(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="add a tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field> -->
  
  
      <!-- <hr>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form> -->
  <!-- </mat-card> -->