<!-- menu bar -->
<mat-toolbar color='primary' class="container-fluid row-12" style="position: sticky; top: 0; z-index: 2">
    <span class="col-auto logo" style="cursor: pointer;" routerLink='/'>Communicare</span>
    <span class="col-auto"><small>Help Someone</small></span>
    <span class="col-auto"><small>Get Help</small></span>
    <span class="col-auto mr-auto"><small>My Schedule</small></span>
    <span class="col-auto">
        <button mat-raised-button [matMenuTriggerFor]="menu" color='primary'>Hi, SIMP Ady</button>
        <mat-menu #menu="matMenu">
            <span mat-menu-item><app-logout></app-logout></span>
        </mat-menu>
    </span>
</mat-toolbar>

<div id="main">
    <router-outlet></router-outlet>
</div>


<!-- footer -->
<mat-toolbar color='primary' class="container-fluid row-12" style="bottom: 0;">
    <span>About</span>
    <span>
        <mat-icon>call</mat-icon>
    </span>
</mat-toolbar>
