<!-- menu bar -->
<mat-toolbar color='primary' class="row" style="position: sticky; top: 0; z-index: 1; margin-bottom: 5%;">
    <span class="col mr-auto logo" style="cursor: pointer;" routerLink='/'>Communicare</span>
    <span class="col-auto">
        <button mat-raised-button [matMenuTriggerFor]="menu" color='primary'>Hi, SIMP Ady</button>
        <mat-menu #menu="matMenu">
            <span mat-menu-item><app-logout></app-logout></span>
        </mat-menu>
    </span>
</mat-toolbar>

<app-create-task></app-create-task>

<router-outlet></router-outlet>

<!-- footer -->
<mat-toolbar color='primary' class="container-fluid row" style="bottom: 0; margin-top: 5%;">
    <span>About</span>
    <span>
        <mat-icon>call</mat-icon>
    </span>
</mat-toolbar>
