<!-- if logged out -->
<div class="container" *ngIf='!session'>
    <app-login-page>

    </app-login-page>
</div>

<!-- if logged in -->
<div class="container" *ngIf='session'>
    <mat-card>
        <button mat-raised-button class="text-success" routerLink='/help-someone'>Help Someone</button>
    </mat-card>
    
    <br>
    <hr>
    <br>

    <button mat-raised-button color='primary' routerLink='/get-help'>Get Help</button>
    
    <br>
    <hr>
    <br>

    <mat-card>
        <mat-card-content>
            <app-calendar></app-calendar>
        </mat-card-content>
    </mat-card>
</div>