<div class="container">
    <form class="row">
        <mat-form-field class="col align-self-center">
            <input matInput type="text" placeholder="username">
        </mat-form-field>
        <br>
        <mat-form-field class="col align-self-center">
            <input matInput type="password" placeholder="password">
        </mat-form-field>
        <br>
        <button mat-button>Login</button>      
    </form>
    <hr>
    <button mat-button class="col align-self-center">
        Register
    </button>
</div>